---
Checks:
- clang-analyzer-*
- clang-diagnostic-*
- bugprone-*
- concurrency-*
- misc-*
- performance-*
- portability-*
- readability-*
# ^^^ Enable ^^^ vvv Disable vvv
- -bugprone-easily-swappable-parameters # Perhaps we can suppress individual instances, but the ship has sailed on many of these
- -bugprone-inc-dec-in-conditions # Disabled until https://github.com/llvm/llvm-project/issues/163913 is fixed
- -bugprone-reserved-identifier
- -bugprone-string-literal-with-embedded-nul # Several types/functions need to be tested with embedded null characters
- -bugprone-unchecked-optional-access # Currently, this marks '.value()' as unsafe. We can revisit if an option is added to only check 'operator*'
- -bugprone-use-after-move # We explicitly test the behavior of moved-from WIL types
- -clang-analyzer-core.CallAndMessage # This check apparently can't figure out how C++/WinRT's activation factory logic works
- -clang-analyzer-cplusplus.Move # We explicitly test the behavior of moved-from WIL types
- -clang-analyzer-cplusplus.NewDelete # This check apparently can't figure out how COM's reference counting works
- -clang-analyzer-optin.core.EnumCastOutOfRange # Many windows enums are flags without the expected attributes
- -misc-const-correctness # Too noisy
- -misc-definitions-in-headers # We rely quite heavily on the ability to define 'selectany'/inline/etc. variables
- -misc-include-cleaner
- -misc-misplaced-const # Flags things like 'const HSTRING' which isn't that hard to use correctly
- -misc-no-recursion
- -misc-non-private-member-variables-in-classes
- -misc-unused-parameters
- -misc-use-anonymous-namespace # Too noisy
- -performance-enum-size # Maybe we can revisit, but changing the size of public enums may have unexpected impact
- -readability-convert-member-functions-to-static
- -readability-else-after-return
- -readability-function-cognitive-complexity
- -readability-identifier-length
- -readability-implicit-bool-conversion
- -readability-magic-numbers
- -readability-make-member-function-const
- -readability-named-parameter
- -readability-qualified-auto
- -readability-simplify-boolean-expr
- -readability-static-accessed-through-instance
CheckOptions:
  bugprone-empty-catch.IgnoreCatchWithKeywords: 'Fall through'
HeaderFilterRegex: '^.*include\\wil\\[^\\/]*$'
